body {
  font-family: 'Noto Serif JP', serif;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: min(max(15px, calc(1rem + ((1vw - 3.5px) * 0.7006))), 25px);
}
